<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="A webcam streamer">
    <meta name="author" content="Brandon Wallace">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='css/style.css') }}">
    <title>404 page not found - webcam streamer</title>

  </head>

  <body>
  
    <noscript>
      <p style="color:#FC0000;text-align:center">Please enable Javascript</p>
    </noscript>

    <!-- START header -->

    <header>
  
      <h1>404 Page Not Found</h1>
  
    </header>

    <!-- END header -->

    <!-- START main -->
  
    <main>
  
  
    </main>

    <!-- END main -->

    <!-- START footer -->

    <footer>
  
      <p>created by <a href="https://brandonwallace.cc">brandon wallace</a> &copy; 2021</p>

    </footer>

    <!-- END footer -->

  </body>

</html>
